!!! 5

%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %link{:rel => "dns-prefetch", :href => "https://d33wubrfki0l68.cloudfront.net"}
    %link{:rel => "dns-prefetch", :href => "https://cdn.jsdelivr.net"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %link{:href => canonical_url(current_page.url), :rel => "canonical"}
    %title= title
    = javascript_include_tag "bundle"
    %link{:rel => "mask-icon", :href => "/assets/images/appsignal-safari-icon.svg", :color => "#21375A" }
    %meta{:content => description_of_page(current_page), :name => "description"}

    %meta{:content => title, :property => "og:title"}
    %meta{:content => site_name, :property => "og:site_name"}
    %meta{:content => "en_US", :property => "og:locale"}
    %meta{:content => canonical_url(current_page.url), :property => "og:url"}
    %meta{:content => description_of_page(current_page), :property => "og:description"}
    %meta{:content => canonical_url("/assets/images/dl_logo/square-mark-dark.png"), :property => "og:image"}

    %meta{:content => "@appsignal", :name => "twitter:site"}
    %meta{:content => "summary", :name => "twitter:card"}
    %meta{:content => canonical_url("/assets/images/dl_logo/square-mark-dark.png"), :name => "twitter:image"}
    %meta{:content => "AppSignal logo icon", :name => "twitter:image:alt"}

    %link{:rel => "stylesheet", :href => "https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css"}
    = partial "analytics"

  %body.font-rubik.bg-gray-100
    = partial "header"
    %a.block.lg:hidden.py-4.flex.items-center.bg-blue-200.no-underline{href: "#navigation"}
      .container
        %i.fa.fa-book.mr-2
        Documentation navigation
    .container
      .lg:hidden.my-4
        = partial "docsearch"
      .flex.flex-wrap.flex-col-reverse.lg:flex-row.my-4.lg:my-8
        #navigation.w-full.md:w-64.pr-12.mt-4
          .hidden.lg:block
            = partial "docsearch"
          = partial "side_nav"
        .flex-1.bg-white.px-4.lg:px-12.py-6.lg:py-8.rounded.shadow-sm
          .inner= yield
        #toc.w-full.hidden.xl:block.md:w-64.pl-12.mt-4
          %h3.uppercase.font-medium.text-gray-600.text-sm
            On this page
    = partial "footer"
    = partial "cookies"

    %script{:type => "text/javascript", :src => "https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"}
    :javascript
      docsearch({
        apiKey: 'e364f905db3f6b6dd982bbc0e22a6891',
        indexName: 'appsignal',
        inputSelector: '#search',
        debug: false // Set debug to true if you want to inspect the dropdown
      });
